<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <section class="section-1">
        <i class="material-icons">access_time</i>
        <input type="search" name="search" placeholder="search pwp community" />
        <i class="material-icons">help_outline</i>
      </section>
      <section class="section-2">
        <p>Teca</p>
        <i class="material-icons">account_box</i>
      </section>
    </header>
    <main>
      <section class="section-3">
        <div class="one">
          <h1>PWP Community</h1>
          <i class="material-icons">add_circle_outline</i>
        </div>

        <div class="two">
          <p id="container">
            <i class="material-icons">message</i>
            <span>Thread</span>
          </p>

          <p>
            <i class="material-icons">inbox</i>
            <span>All DMs</span>
          </p>

          <p>
            <i class="material-icons">drafts</i>
            <span>Meantions & Reactions</span>
          </p>

          <p>
            <i class="material-icons">bookmark_border </i>
            <span>Save Itemns</span>
          </p>

          <p>
            <i class="material-icons">people</i>
            <span>Peoples & Groups</span>
          </p>

          <p>
            <i class="material-icons">apps</i>
            <span>More</span>
          </p>
        </div>

        <div class="three">
          <h3>
            <span>Channels</span>
            <i class="material-icons">add</i>
          </h3>
          <p>
            <span>#</span>
            Family
          </p>
        </div>
      </section>
      <section class="section-4">
        <div class="four">
          <p>#Family(current channel name)</p>
        </div>
        <div class="five">
          <div>
            <i
              ><img
                src="https://img.pngio.com/computer-icons-user-profile-male-avatar-avatar-png-download-user-profile-png-540_540.png"
                alt="User profile photo"
              />
            </i>
            <p>Teca</p>
            <p>11:05 PM</p>
          </div>
          <div id="user-msg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. uri aliquid
            officia et.
          </div>
        </div>
        <div class="six">
          <form action="#">
            <input type="text" placeholder="send message to #family" />

            <span>
              <i class="material-icons">flash_on</i>
              <i class="material-icons">format_bold</i>
              <i class="material-icons">format_italic</i>
              <i class="material-icons">code</i>
              <i class="material-icons">insert_link</i>
              <input type="submit" value="Send" />
            </span>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
